body {
    min-height: 100vh;
    margin: 0;
}

.header {
    background: #1F2937;
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header a {
    color: #E5E7EB;
    font-size: 12px;
    text-decoration: none;
    padding: 0 8px;
}

.header .logo {
    width: 150px;
    align-items: center;
    padding: 12px 0;
}

ul {
    list-style-type: none;
}

.container-one button {
    background-color: #3882F6;
    color: #fff;
    padding: 4px 16px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.container-four button {
    background-color: #3882F6;
    color: #fff;
    padding: 4px 16px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    border-color: #fff;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
}